PGUSER=postgres
PGHOST=localhost
PGPASSWORD=mysecretpassword
PGDATABASE=postgres
PGSCHEMA=public
PGPORT=5433
CHIA_SSL_DIR='/Users/user/.chia/standalone_wallet/config/ssl/wallet'
DATABASE_UPDATE_DUPE_LIMIT = 1000
WALLET_RPC_HOST="https://localhost:9256"
OFFER_HELPER_HOST="http://127.0.0.1:5000"
IPFS_HOST="http://localhost:5001"
SKIP_INSERT_ON_REPLICATE=false
SKIP_UPDATE_STATUS_JOB=false
