OFFER_CHECK_INTERVAL=120
NFT_CHECK_INTERVAL=187
DATABASE_URL="file:./dev.db"
NOSTR_SUB_RELAYS="wss://nostr.8e23.net"
NOSTR_PUB_RELAYS="wss://nostr.8e23.net"
NOSTR_PUBKEY="b5b3"
NOSTR_PRIVKEY="b5b3"
DISABLE_ORBIT_DB_SHARING=1
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin"
NODE_TLS_REJECT_UNAUTHORIZED = 0
